:root {

  --dark:      #000000;
  --light:     #FFFFFF;
  --accent:    #FF0000;
  --success:   #0000FF;

}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background: var(--dark);
  overflow: hidden;
}

.app {
  width: 100%;
  height: 100%;
}

.background,
.foreground {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.foreground {
  pointer-events: none;
}

.foreground > * {
  pointer-events: all;
}

.canvas {
  width: 100%;
  height: 100%;
  display: block;
}

.background > div {
  position: absolute;
  top: 0;
  pointer-events: none;
}

.label {
  color: white;
}

.label-origin {
  width: 48px;
  height: 48px;
  border: 2px solid var(--white);
}
