@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=block");

/* Variables */

:root {
  /* Defines color palette */
  --neutral-100: #fadfd4;
  --neutral-75: #cab1ad;
  --neutral-50: #9a8387;
  --neutral-25: #6c5660;
  --neutral-0: #3d283a;

  --accent-100: #e2363f;
  --accent-75: #b9323e;
  --accent-50: #8f2f3c;
  --accent-25: #662b3b;

  --success-100: #36e2de;
  --success-75: #38b3b5;
  --success-50: #39858c;
  --success-25: #3b5663;

  --neutral-100-rgb: 250, 223, 212;
  --neutral-0-rgb: 61, 40, 58;
  --accent-100-rgb: 226, 54, 64;
  --success-100-rgb: 54, 226, 222;

  /* Controls scale of UI */
  --basis: 10px;

  /* Centers 3D scene on mobile (updated in JS) */
  --excess-height: 0%;
}

/* Resets */

*,
*::before,
*::after {
  backface-visibility: hidden;
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button,
input[type="search"] {
  background: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  white-space: nowrap;
}

input[type="search"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  font-variant-numeric: tabular-nums;
}

a {
  text-decoration: none;
}

/* General */

html,
body {
  background: black;
  color: white;
  font-family: sans-serif;
  height: 100%;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

a {
  color: var(--neutral-100);
}

.app {
  height: 100%;
  position: relative;
  width: 100%;
}

.background,
.foreground,
.loader {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.background,
.foreground {
  opacity: 0;
  transition: opacity 0.4s linear, transform 0.4s ease-in-out;
}

.background {
  align-items: center;
  display: flex;
  justify-content: center;
}

.foreground,
.foreground header,
.foreground main,
.foreground footer {
  pointer-events: none;
}

.foreground header > *,
.foreground main > *,
.foreground footer > * {
  pointer-events: all;
}

.canvas {
  bottom: 0;
  display: block;
  height: 100%;
  position: absolute;
  transition: height 0.4s;
  width: 100%;
}

.background > div {
  bottom: 0;
  pointer-events: none;
  position: absolute;
}

.app .find > span {
  display: none;
}

.loader {
  align-items: center;
  background: rgba(var(--neutral-0-rgb), 0.9);
  display: flex;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s linear;
  z-index: 5;
}

.loader::before {
  animation: spin 0.8s infinite linear;
  animation-play-state: paused;
  border: calc(var(--basis) * 0.4) solid rgba(var(--neutral-100-rgb), 0.25);
  border-radius: 50%;
  border-top: calc(var(--basis) * 0.4) solid var(--success-100);
  content: "";
  display: flex;
  height: calc(var(--basis) * 4.8);
  width: calc(var(--basis) * 4.8);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  background: var(--neutral-0);
  color: var(--neutral-100);
  font-family: "Poppins";
  font-size: calc(var(--basis) * 1.6);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  line-height: 150%;
  text-rendering: auto;
}

::-moz-selection {
  background: var(--success-100);
  color: var(--neutral-0);
}

::selection {
  background: var(--success-100);
  color: var(--neutral-0);
}

/* Headings */

h1 {
  font-size: calc(var(--basis) * 2.4);
}

h2 {
  font-size: calc(var(--basis) * 1.4);
  letter-spacing: calc(var(--basis) * 0.2);
  text-transform: uppercase;
}

/* Paragraphs */

p {
  font-weight: 400;
}

main p {
  font-size: calc(var(--basis) * 1.6);
}

footer p {
  font-size: calc(var(--basis) * 1.2);
}

/* Header, main & footer */

header,
footer {
  align-items: center;
  border-top: calc(var(--basis) * 0.2) solid var(--neutral-100);
  display: flex;
  flex-shrink: 0;
  height: calc(var(--basis) * 4.8);
  justify-content: space-between;
  width: 100%;
}

main header {
  border: none;
}

main {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  padding-bottom: calc(var(--basis) * 4.8);
  width: 100%;
}

nav {
  align-items: center;
  display: flex;
  position: relative;
}

nav a {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

nav a i {
  margin: calc(var(--basis) * 1.2);
  margin-right: 0;
}

footer a {
  border-bottom: calc(var(--basis) * 0.2) solid
    rgba(var(--neutral-100-rgb), 0.1);
}

footer a:hover {
  border-bottom: calc(var(--basis) * 0.2) solid rgba(var(--neutral-100-rgb), 1);
}

/* Compass */

.compass {
  align-items: center;
  color: var(--accent-100);
  display: flex;
  height: calc(var(--basis) * 6.4);
  justify-content: center;
  position: relative;
  width: calc(var(--basis) * 6.4);
}

.compass::before {
  border: calc(var(--basis) * 0.2) solid var(--accent-100);
  border-radius: 50%;
  content: "";
  display: flex;
  height: calc(var(--basis) * 3.2);
  width: calc(var(--basis) * 3.2);
}

.compass::after {
  align-items: center;
  bottom: 0;
  color: ;
  content: "N";
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.compass .needle {
  display: flex;
  height: calc(var(--basis) * 6.4);
  justify-content: center;
  position: absolute;
  width: calc(var(--basis) * 1.6);
}

.compass .needle::before {
  border-left: calc(var(--basis) * 0.2) solid var(--accent-100);
  border-top: calc(var(--basis) * 0.2) solid var(--accent-100);
  content: "";
  display: flex;
  height: calc(var(--basis) * 1.2);
  position: absolute;
  transform: rotate(45deg);
  width: calc(var(--basis) * 1.2);
}

.compass .needle::after {
  background: var(--accent-100);
  content: "";
  display: flex;
  height: calc(var(--basis) * 1.6);
  position: absolute;
  width: calc(var(--basis) * 0.2);
}

/* Logo */

.logo {
  display: flex;
  user-select: none;
}

.logo img {
  display: flex;
  height: calc(var(--basis) * 2.4);
  margin-right: calc(var(--basis) * 1.2);
  width: calc(var(--basis) * 2.4);
}

.logo h1 {
  align-items: baseline;
  display: flex;
}

.logo h1 span:first-child {
  color: var(--accent-100);
}

.logo h1 span:last-child {
  font-size: calc(var(--basis) * 1.4);
  letter-spacing: calc(var(--basis) * 0.2);
  line-height: 0;
  margin-left: calc(var(--basis) * 1.2);
  text-transform: uppercase;
}

/* Foreground */

.foreground {
  display: flex;
  flex-direction: column;
  padding: calc(var(--basis) * 4.8);
  padding-bottom: calc(var(--basis) * 0.4); /* To account for .2 border */
  pointer-events: none;
  z-index: 4;
}

/* Boxes */

main section {
  background: rgba(var(--neutral-0-rgb), 0.75);
  border: calc(var(--basis) * 0.2) solid var(--neutral-100);
  height: calc(
    (var(--basis) * 26.4) + (var(--basis) * 0.4)
  ); /* To account for .2 border */
  padding: calc(var(--basis) * 0.4);
  position: relative;
  width: calc(
    (var(--basis) * 26.4) + (var(--basis) * 0.4)
  ); /* To account for .2 border */
}

main section header {
  left: 0;
  position: absolute;
  right: 0;
  top: calc(var(--basis) * -4.8);
}

main section .tip {
  left: 0;
  margin-top: calc(var(--basis) * 2.4);
  position: absolute;
  right: 0;
  top: calc(var(--basis) * 26.4);
}

main section.direction {
  border-color: var(--accent-100);
}

.backlights {
  width: 100%;
}

.backlight {
  background: rgba(var(--accent-100-rgb), 0.0666);
  display: flex;
  height: calc(var(--basis) * 4.8);
  margin-bottom: calc(var(--basis) * 0.4);
  width: 100%;
}
.rose {
  display: flex;
  height: 100%;
  position: relative;
}

.directions {
  bottom: 0;
  display: flex;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.north-south::before,
.north-south::after,
.east-west::before,
.east-west::after {
  align-items: center;
  color: var(--accent-100);
  display: flex;
  font-size: calc(var(--basis) * 1.4);
  font-weight: 700;
  height: calc(var(--basis) * 4.8);
  justify-content: center;
  letter-spacing: 0;
  position: absolute;
  text-transform: uppercase;
  width: calc(var(--basis) * 4.8);
}

.north-south::before {
  content: "N";
  left: 50%;
  margin-left: calc(var(--basis) * -2.4);
  top: 0;
}
.north-south::after {
  bottom: 0;
  content: "S";
  left: 50%;
  margin-left: calc(var(--basis) * -2.4);
}
.east-west::before {
  content: "E";
  margin-top: calc(var(--basis) * -2.4);
  right: 0;
  top: 50%;
}
.east-west::after {
  content: "W";
  left: 0;
  margin-top: calc(var(--basis) * -2.4);
  top: 50%;
}

.draggable-area {
  bottom: calc(var(--basis) * (4.8 + 0.4));
  display: flex;
  left: calc(var(--basis) * (4.8 + 0.4));
  position: absolute;
  right: calc(var(--basis) * (4.8 + 0.4));
  top: calc(var(--basis) * (4.8 + 0.4));
}

.draggable-area::before,
.draggable-area::after {
  border: calc(var(--basis) * 0.1) dashed var(--accent-100);
  content: "";
  height: 100%;
  left: 50%;
  margin-left: calc(var(--basis) * -0.05);
  position: absolute;
  top: 0;
  width: 0;
  z-index: 1;
}

.draggable-area::after {
  transform: rotate(90deg);
}

.draggable-handle {
  background: var(--accent-100);
  border-radius: 50%;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  display: flex;
  height: calc(var(--basis) * 3.2);
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(var(--basis) * 3.2);
  z-index: 2;
}

.draggable-handle:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.draggable-handle::before {
  animation: pulse 2.4s infinite;
  background: var(--accent-100);
  border-radius: 50%;
  content: "";
  display: flex;
  height: calc(var(--basis) * 6.4);
  left: 50%;
  opacity: 0;
  perspective: 1000;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) scale3d(1, 1, 1);
  width: calc(var(--basis) * 6.4);
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale3d(0.5, 0.5, 0.5);
  }

  50% {
    opacity: 0;
    transform: translate(-50%, -50%) scale3d(1, 1, 1);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale3d(0.5, 0.5, 0.5);
  }
}

/* Form elements */

form {
  display: flex;
  flex-direction: column;
  height: calc(100% - calc(var(--basis) * 4.8));
}

form > *,
.search-container {
  align-items: center;
  background: rgba(var(--neutral-100-rgb), 0.0333);
  display: flex;
  flex-shrink: 0;
  height: calc(var(--basis) * 4.8);
  justify-content: flex-start;
  margin-bottom: calc(var(--basis) * 0.4);
  padding: calc(var(--basis) * 1.2);
}

form p,
form label {
  font-size: calc(var(--basis) * 1.4);
  font-weight: 700;
  letter-spacing: calc(var(--basis) * 0.2);
  text-transform: uppercase;
}

button,
.button,
input[type="search"] {
  color: var(--accent-100);
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: calc(var(--basis) * 1.4);
  font-weight: 700;
  height: calc(var(--basis) * 4.8);
  letter-spacing: calc(var(--basis) * 0.2);
  line-height: 150%;
  padding: calc(var(--basis) * 0.8);
  text-transform: uppercase;
}

input[type="search"] {
  padding: calc(var(--basis) * 0.8) 0;
}

::-webkit-input-placeholder {
  color: rgba(var(--accent-100-rgb), 0.5);
}
::-moz-placeholder {
  color: rgba(var(--accent-100-rgb), 0.5);
}
:-ms-input-placeholder {
  color: rgba(var(--accent-100-rgb), 0.5);
}

button span,
.button span {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

button.find span {
  margin-left: calc(var(--basis) * 1.2);
}

button,
.button,
.search-container {
  align-items: center;
  background: rgba(var(--accent-100-rgb), 0.2);
  display: flex;
  justify-content: center;
  width: 100%;
}

button:disabled {
  background: transparent;
  cursor: default;
}

button:not(:disabled):not(.success):hover {
  background: var(--accent-100);
  color: var(--neutral-0);
}

.search-container {
  padding-right: 0;
}

input[type="search"] {
  width: calc(100% - calc(var(--basis) * 4.8));
}

input[type="search"] + button {
  width: calc(var(--basis) * 4.8);
}

input[type="search"] + button:not(:hover) {
  background: transparent;
}

/* Steps (for mobile) */

.steps {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  height: 0;
  max-width: calc(var(--basis) * 4.8 * 8);
  position: relative;
  width: 100%;
}

.steps {
  display: none;
}

.step {
  background: rgba(var(--neutral-0-rgb), 0.75);
  border: calc(var(--basis) * 0.2) solid var(--accent-100);
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  margin-top: calc(var(--basis) * 1.2);
  min-width: 100%;
  opacity: 0;
  padding: calc(var(--basis) * 0.4);
  pointer-events: none;
  position: absolute;
  right: 0;
  transform: translateY(calc(var(--basis) * 12.8));
  transition: all 0.4s ease-in-out;
}

.step > div {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: calc(var(--basis) * 0.8);
  padding: calc(var(--basis) * 1.2);
  position: relative;
  text-align: center;
  width: 100%;
}

.step > div:last-of-type {
  margin-bottom: calc(var(--basis) * 0.4);
}

.steps .search-container {
  flex-direction: row;
  margin-bottom: 0;
  padding-right: 0;
}

.note {
  color: var(--accent-100);
  font-size: calc(var(--basis) * 1.4);
  margin-top: calc(var(--basis) * 0.8);
}

strong.water {
  color: var(--success-100);
}

strong.land {
  color: var(--accent-100);
}

.step figure {
  display: flex;
  justify-content: center;
  min-width: calc(var(--basis) * 25.6);
  position: relative;
  width: 100%;
}

.illustrations img {
  width: 100%;
}

.illustrations .placeholder {
  display: flex;
  padding-top: 50%;
  position: relative;
  width: 100%;
}

.illustration:nth-child(1) {
  animation-delay: 0s;
  background-image: url("../assets/phone/right.svg");
}

.illustration:nth-child(2) {
  animation-delay: -1s;
  background-image: url("../assets/phone/center.svg");
}

.illustration:nth-child(3) {
  animation-delay: -2s;
  background-image: url("../assets/phone/left.svg");
}

.illustration:nth-child(4) {
  animation-delay: -3s;
  background-image: url("../assets/phone/center.svg");
}

.illustration {
  animation: toggle 4s infinite;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

@keyframes toggle {
  0% {
    visibility: visible;
  }
  25% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}

.step:nth-child(6) {
}

.step:nth-child(6) > div {
  margin-bottom: calc(var(--basis) * -1.2);
}

a[download] {
  display: none;
}

/* Labels */

.label {
  line-height: 1.25;
  max-width: calc(var(--basis) * 38.4);
  text-align: center;
  transition: opacity 0.4s linear;
  width: 50%;
}

.label-origin {
  align-items: center;
  border: calc(var(--basis) * 0.2) solid;
  display: flex;
  height: calc(var(--basis) * 4.8);
  justify-content: center;
  position: relative;
  transition: border-color 0.4s linear;
  width: calc(var(--basis) * 4.8);
}

.label-origin::after {
  background: var(--accent-100);
  border-radius: 50%;
  content: "";
  display: flex;
  height: calc(var(--basis) * 0.8);
  width: calc(var(--basis) * 0.8);
}

.label-destination:not(.fixed) {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: calc(var(--basis) * 3.6);
  height: calc(var(--basis) * 19.2);
  justify-content: flex-end;
  margin-top: calc(var(--basis) * -9.6);
}

.label-destination:not(.fixed)::after {
  background: var(--neutral-100);
  border-radius: 50%;
  content: "";
  display: flex;
  height: calc(var(--basis) * 0.8);
  transform: translateY(calc(var(--basis) * 0.4));
  width: calc(var(--basis) * 0.8);
}

.label-destination:empty::after {
  display: none;
}

.label-destination.fixed {
  align-items: center;
  display: flex;
  display: none;
  font-size: calc(var(--basis) * 4.8);
  justify-content: center;
  position: relative;
  width: calc(100% - var(--basis) * 4.8);
  z-index: 4;
}

.label-destination.fixed:empty::after {
  align-items: center;
  content: " Hmmm…\00000a Try pointing to the ground";
  font-size: calc(var(--basis) * 1.6);
  font-weight: 700;
  justify-content: center;
  letter-spacing: calc(var(--basis) * 0.2);
  line-height: 150%;
  text-transform: uppercase;
  white-space: pre-wrap;
  width: calc(var(--basis) * 16.8);
}

.background .label-distance {
  font-size: calc(var(--basis) * 1.4);
  font-variant-numeric: tabular-nums;
  letter-spacing: calc(var(--basis) * 0.2);
  text-transform: uppercase;
}

.foreground .label-distance:not(:empty)::before {
  content: "Length: ";
  white-space: pre;
}

.foreground .label-distance:empty::after {
  content: "...";
}

.label-angle {
  font-variant-numeric: tabular-nums;
}

/* Status */

.app[data-grabbing="true"] {
  user-select: none;
}

.app[data-geolocation="unlocated"] .find span:nth-of-type(1) {
  display: flex;
}

.app[data-geolocation="locating"] .find span:nth-of-type(2) {
  display: flex;
}

.app[data-geolocation="located"] .find span:nth-of-type(3) {
  display: flex;
}

.app[data-geolocation="locating"] button.find {
  background: rgba(var(--accent-100-rgb), 0.2);
  color: var(--accent-100);
  pointer-events: none;
}

.app[data-geolocation="located"] button.find {
  background: rgba(var(--success-100-rgb), 0.25);
  color: var(--success-100);
  pointer-events: none;
}

.app[data-loading="false"] .background,
.app[data-loading="false"] .foreground {
  opacity: 1;
}

.app[data-search="searching"] .background .label,
.app[data-geolocation="locating"] .background .label {
  opacity: 0;
}

.app[data-search="searching"] .loader,
.app[data-geolocation="locating"] .loader {
  opacity: 1;
  pointer-events: all;
}

.app[data-search="searching"] .loader::before,
.app[data-geolocation="locating"] .loader::before {
  animation-play-state: running;
}

.app[data-search="searching"] .draggable-handle::before,
.app[data-geolocation="locating"] .draggable-handle::before {
  animation-play-state: paused;
}

.app[data-search="searched"] .step:nth-child(3),
.app[data-geolocation="located"] .step:nth-child(3) {
  border-color: var(--success-100);
}

.app[data-search="searched"] .search-container,
.next.success {
  background: rgba(var(--success-100-rgb), 0.25);
}

.app[data-search="searched"] input[type="search"],
.next.success {
  color: var(--success-100);
}

.app[data-search="searched"] input[type="search"] + button {
  color: var(--success-100);
  pointer-events: none;
}

.app .step:nth-child(4) > div p {
  display: none;
}

.app[data-type="water"] .step:nth-child(4) > div p:nth-child(1) {
  display: block;
}

.app[data-type="land"] .step:nth-child(4) > div p:nth-child(2) {
  display: block;
}

.app[data-type="air"] .label-destination.fixed::after {
  display: flex;
}

.app[data-step="1"] .step:nth-child(1),
.app[data-step="2"] .step:nth-child(2),
.app[data-step="3"] .step:nth-child(3),
.app[data-step="4"] .step:nth-child(4),
.app[data-step="5"] .step:nth-child(5),
.app[data-step="6"] .step:nth-child(6) {
  display: flex;
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}

.app[data-step="3"] .label-origin {
  animation: located 1.2s 1;
}

@keyframes located {
  0% {
    box-shadow: 0 0 0 calc(var(--basis) * 0) rgba(var(--success-100-rgb), 1);
  }
  100% {
    box-shadow: 0 0 0 calc(var(--basis) * 2.4) rgba(var(--success-100-rgb), 0);
  }
}

.app[data-step="5"] .background {
  opacity: 0;
  pointer-events: none;
  transform: scale(0.8);
}

.app[data-step="6"] .background .label-distance,
.app[data-step="6"][data-level="hard"] .background .label-destination,
.app[data-step="6"][data-level="hard"] .background .label-origin {
  display: none;
}

.app[data-mode="first-person"][data-level="hard"]
  .background
  .label-destination.fixed,
.app[data-mode="first-person"][data-type="air"]
  .background
  .label-destination.fixed {
  display: flex;
}

.app[data-record="true"] a[download] {
  display: flex;
}

.app[data-globe] .origin,
.app[data-globe] .direction {
}

/* Media queries */

@media (min-width: 1921px) {
  :root {
    --basis: 14px;
  }
}

@media (max-width: 1920px) {
  :root {
    --basis: 12px;
  }
}

@media (max-width: 1536px) {
  :root {
    --basis: 10px;
  }
}

@media (max-width: 1280px) {
  :root {
    --basis: 10px;
  }
}

@media (max-width: 360px) {
  :root {
    --basis: 9px;
  }
}

@media (max-width: 1024px) {
  .foreground {
    padding: calc(var(--basis) * 2.4);
    padding-top: calc(var(--basis) * 1.2);
  }

  header,
  footer {
    border: none;
  }

  header {
    border-bottom: calc(var(--basis) * 0.2) solid var(--neutral-100);
    height: initial;
    min-height: calc(var(--basis) * 4.8);
    padding-bottom: calc(var(--basis) * 1.2);
  }

  .logo h1 span:last-child {
    display: none;
  }

  main {
    justify-content: center;
    padding: 0;
  }

  main section.origin,
  main section.direction,
  footer {
    display: none;
  }

  button,
  .button,
  input[type="search"] {
    font-size: calc(var(--basis) * 1.6);
  }

  button span,
  .button span {
    justify-content: center;
  }

  /* Moves center of 3D scene up a bit to center it on mobile */
  .canvas {
    height: calc(100% + var(--excess-height));
  }

  .steps {
    display: flex;
  }

  .label-destination {
    font-size: calc(var(--basis) * 2.4);
  }

  .label-origin {
    height: calc(var(--basis) * 2.4);
    width: calc(var(--basis) * 2.4);
  }
}
