* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background: black;
  font-family: sans-serif;
  color: white;
  overflow: hidden;
}

.app {
  width: 100%;
  height: 100%;
}

.background,
.foreground {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.foreground {
  pointer-events: none;
}

.foreground > * {
  pointer-events: all;
}

.canvas {
  width: 100%;
  height: 100%;
  display: block;
}

.background > div {
  position: absolute;
  top: 0;
  pointer-events: none;
}

.app .find > span {
  display: none
}

.app[data-status-geolocation="unlocated"] .find  span:nth-child(1) {
  display: flex;
}

.app[data-status-geolocation="locating"] .find  span:nth-child(2) {
  display: flex;
}

.app[data-status-geolocation="located"] .find  span:nth-child(3) {
  display: flex;
}

.app .connect > span {
  display: none
}

.app[data-status-bluetooh="unpaired"] .connect  span:nth-child(1) {
  display: flex;
}

.app[data-status-bluetooh="pairing"] .connect  span:nth-child(2) {
  display: flex;
}

.app[data-status-bluetooh="paired"] .connect  span:nth-child(3) {
  display: flex;
}
