@import url( 'https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&display=swap' );

/* palette */

:root {

  --neutral-100: #FADFD4;
  --neutral-75:  #6C5660;
  --neutral-50:  #9A8387;
  --neutral-25:  #CAB1AD;
  --neutral-0:   #3D283A;

  --accent-100:  #E2363F;
  --accent-75:   #B9323E;
  --accent-50:   #8F2F3C;
  --accent-25:   #662B3B;

  --success-100: #36E2DE;
  --success-75:  #38B3B5;
  --success-50:  #39858C;
  --success-25:  #3B5663;

  --basis:          10px;

}

body {
  font-family: 'Poppins';
  font-weight: 700;
  background: var(--neutral-0);
  color: var(--neutral-100);
}

.marker-origin {
  width: 48px;
  height: 48px;
  border: calc( var(--basis) / 5 ) solid;
}
