@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* palette */

:root {

  --neutral-100: #FADFD4;
  --neutral-75:  #6C5660;
  --neutral-50:  #9A8387;
  --neutral-25:  #CAB1AD;
  --neutral-0:   #3D283A;

  --accent-100:  #E2363F;
  --accent-75:   #B9323E;
  --accent-50:   #8F2F3C;
  --accent-25:   #662B3B;

  --success-100: #36E2DE;
  --success-75:  #38B3B5;
  --success-50:  #39858C;
  --success-25:  #3B5663;

  --basis:          10px;

}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  font-variant-numeric: tabular-nums;
  font-family: 'Poppins';
  font-weight: 700;
}

body {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: calc( var(--basis) * 1.6 );
  line-height: 150%;
  background: var(--neutral-0);
  color: var(--neutral-100);
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.marker-origin {
  width: 48px;
  height: 48px;
  border: calc( var(--basis) * .2 ) solid;
}

.label-destination {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: calc( var(--basis) * 5.4 );
  margin-top: calc( var(--basis) * -2.7 );
  font-size: calc( var(--basis) * 3.6 );
}

.label-destination::after {
  content: '';
  display: flex;
  transform: translateY( calc( var(--basis) * .4 ) );
  width: calc( var(--basis) * .8 );
  height: calc( var(--basis) * .8 );
  border-radius: 50%;
  background: var(--neutral-100);
}

.label-destination:empty::after {
  display: none;
}

.label-distance {
  font-size: calc( var(--basis) * 1.2 );
  letter-spacing: calc( var(--basis) * .3 );
  text-transform: uppercase;
}
